* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.recuadro-celeste{
    width: 100%;
    height: 495px;
    background-image: url(../assets/tecnico.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.info-app{
    position:relative;
    width:100%;
    height: 100%;
    background-color:transparent;
}
.info-app img{
    position: absolute;
    width:450px;
    height: 474px;
    left: 46%;
    top: 5%;
    z-index: 1;
}
.texto-inicio{
    background-color:transparent;
    height:51%;
    width:52%;
    position:absolute;
    z-index: 2;
    top: 21%;
    left: 2%;
}

.texto-inicio h2{
    font-size:200%;
    padding: -5%;
    text-align:center;
    background-color:transparent;
    font-weight: bold;

}

.texto-inicio p {
    background-color:#A2DBFA73;
    text-align: center;
    margin-top: 20px;
    font-size: 300%;
}
.quienes-somos{
    background-color:white;
    height:700px;
    width:100%;
    align-items: center;
    justify-content:center;
}

.quienes-somos-item{
    width: 32%;
    height: 65%;
    justify-content: center;
    text-align:center;
    background-color:transparent;
    color:black;
}
.quienes-somos h3{
    font-size: 55px;
    margin-bottom: 5%;
    background-color:transparent;
    font-weight: 100;
    font-family: 'Bebas Neue';
}
.quienes-somos-item ul{
    margin-top:3%;
    text-align: left;
    font-size: 22px;
    background-color:transparent;
}
.quienes-somos-item ul li{
    background-color:transparent;
}
.quienes-somos-item p{
    font-size: 22px;
    background-color:transparent;
    
}
.linea-quienes{
    height:65%;
    width:4px;
    background-color:white;
    margin-right: 3%;
    margin-left: 3%;
}

footer{
    background: #A2DBFA;
    width: 100%;
    height: 250px;
}
.container-body{
    width: 100%;
    height: 100%;
    display: flex;
    margin:auto;
    justify-content: space-around;
    align-items: center;
}
.columna1{
    max-width: 600px;

}
.columna1 h1{
    font-size: 55px;

}
.columna1 p{
    font-size: 18px;

}
.columna2{
    max-width: 600px;

}
.columna2 p{
    font-size: 24px;
}
.icons{
    width:425.36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon img{
    width: 76.34px;
    height: 76.34px;
}


@media (min-width: 576px) {

}

@media (max-width: 768px) {
    .container-body{
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {

}
